<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="http://unpkg.com/vue"></script>
    <title>Create Account</title>
</head>

 <body>
   <div>
       <a href="/">Math Magic</a> <br>
  </div>

  <p>Create account</p>
   <form id="login" action="" method="post" enctype="multipart/form-data">
      <input required type="text" placeholder="username" name="username"/>
      <input required type="password" placeholder="password" name="password"/>
      <input type="submit" value="create"/>
   </form>


 </body>
</html>
