{% extends "base.html" %}

{% block headinfo %}
	<title>Math Magic!</title>
	<script src="../js/vue.js"></script>
{% endblock %}

{% block content %}
    <div>
      <p v-if="logged_in">
        Hello, {{ username }} <br>
        <a href="accounts/logout">logout</a>
      </p>
      <p v-else>
        <a href="accounts/login">login</a>
      </p>
    </div>

    <div>
      <button v-if="problem == ''" @click="new_problem">Generate Problem!</button>
      <div v-else-if="status == 0">
        <p>
          {{problem}} = ?
        </p>
        <input v-model="user_answer" type="text">
        <button @click="check_answer">Submit</button>
      </div>
      <div v-else-if="status > 0">
        <p>Correct answer!</p>
        <button @click="new_problem">Generate Problem!</button>
      </div>
      <div v-else-if="status < 0">
        <p>Sorry, the right answer was {{answer}}</p>
        <button @click="new_problem">Generate Problem!</button>
      </div>
    </div>
{% endblock %}
