<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../mathmagic/static/style.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="http://unpkg.com/vue"></script>
    <title>Math Magic</title>
</head>

<body>
  <div id="my-vue-app">

    <div>
        <a href="/">Math Magic</a> <br>
        <a href="accounts/login">login</a> <br>
        <a href="accounts/logout">logout</a>

    </div>


  </div>

</body>

<script src="vue.js"></script>

</html>
