{% extends "base.html" %}

{% block headinfo %}
	<title>Login to your account</title>
{% endblock %}

{% block content %}
	<div class="col-md-4">
		<div class="panel panel-primary" id="login-panel">
			<div class="panel-heading"> User Login </div>
			<div class="panel-body">
			   <form id="login" action="" method="post" enctype="multipart/form-data">
				  <div class="form-group">
					<label for="usrname"> Username: </label>
					<input class="login-field form-control" required type="text" placeholder="Enter your username" name="username" id="usrname"/>
				  </div>
				  <div class="form-group">
					<label for="pwd"> Password: </label>
					<input class="login-field form-control" required type="password" placeholder="Enter your password" name="password" id="pwd"/>
				  </div>
				  <input class="login-field btn btn-primary" type="submit" value="Login"/>
			   </form>
			</div>
			<div class="panel-footer" id="account-create-msg">
				Don't have an account? <a href="/accounts/create"><strong> Sign Up! </strong></a>
			</div>
		</div>
	</div>

   <div id="error-msg">
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
   </div>

{% endblock %}