#usrname {
	width:275px;
}

#pwd {
	width:275px;
}

#p1 {
	width: 225px;
	position: absolute;
	left: 15px;
	top: 120px;
}

#p2 {
	width: 225px;
	position: absolute;
	left: 15px;
	top: 235px;
}

#gamecontent {
	width:97%;
	height: 75%;
	min-height: 300px;
	max-height: 600px;
	position: absolute;
	left: 20px;
	border-style: groove;
	border-color: green;
	border-width: 5px;
	padding: 40px;
	perspective: 800px;
	background-image: radial-gradient(#e6ffe6, white);
}

#scorebox {
	background: #ffcccc;
	position: absolute;
	right: 30px;
	top: 30px;
	width: 175px;
	height: 130px;
	border-style: groove;
	border-color: red;
	border-width: 5px;
	text-align: center;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top: 15px;
}

#highscore {
	background:  #ccffff;
	position: absolute;
	right: 30px;
	top: 190px;
	width: 175px;
	height: 130px;
	border-style: groove;
	border-color: cyan;
	border-width: 5px;
	text-align: center;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top: 15px;
}

#hightext {
	font-size: 18px;
}

#myHighScore {
	color: orange;
	font-weight: bold;
}

#carbox {
	position: relative;
	top: 0;
}

#highScore {
	position: relative;
	bottom: 15px;
}

.card {
	padding: 50px;
	-webkit-animation: movein 1s ;
	-webkit-animation-timing-function: ease;
	padding: 50px;
	position: relative;
	top: 10;
	left: 0px;
	width: 300px;
	height: 200px;
	margin: 10px;
	background: yellow;
	border-color: blue;
	border-width: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
	border: 3px solid #fff;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.2);
  	font-size: 3em;
  	font-weight: 300;
}

#back1 {
	position: relative;
	padding: 40px;
	top: 10;
	left: 0px;
	width: 300px;
	height: 200px;
	margin: 10px;
	background: orange;
	border-color: blue;
	border-width: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
	border: 3px solid #fff;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.2);
  	font-size: 2em;
  	font-weight: 300;
}

#back2 {
	position: relative;
	padding: 50px;
	top: 10;
	left: 0px;
	width: 300px;
	height: 200px;
	margin: 10px;
	background: green;
	border-color: blue;
	border-width: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
	border: 3px solid #fff;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.2);
  	font-size: 2em;
  	font-weight: 300;
  	color: white;

}

.flipped{
	-webkit-transform-style: preserve-3d;
  	-webkit-transition: transform 1s;
	-webkit-transform: rotateY( 360deg );
}

@keyframes movein {
    from {left: 500px;}
    to {left: 0px;}
}

.btn_on:hover {
	background: #518AFA;
	color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#selection{
	font-size: 18px;
}

.switch-btn {
	bottom: 30px;
	left: 40px;
	position: absolute;
}

#dimmer {
	z-index: 10;
	top: -77px;
	bottom: -650px;
	right: -40px;
	left: -40px;
	background-color:  rgb(0,0,0);
	background-color:  rgba(0,0,0,0.5);
	position:  absolute;
}

#alertcontainer {
	right: 200px;
	position: absolute;
	left: 200px;
	top: 200px;
	height: 200px;
	background-color: white;
	z-index:  11;
	border-radius:  25px;
}

#alertbox {
	position: relative;
	width: 250px;
	height: 50px;
	margin:  auto;
	top: 64.5px;
}

#alertbox p {
	font-size: 50px;
	text-align:  center;
	background-color:  white;
}

[v-cloak] {
	display: none;
}

#race-sb {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 30px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color:  rgb(255,255,255);
	background-color: rgba(0,0,0,0.2);
	border-radius:  5px;
}

#finish {
	position: absolute;
	top: 230px;
	right: -150px;
	transform: rotate(90deg);
	height: 40px;
	width: 280px;
	z-index: -1;
}

.road {
	height: 2px;
	width: 97%;
	border-color: #686868;
	background-color: #686868;
	z-index: -2;
}

#r1 {
	position: absolute;
	top: 190px;
	left: 20px;
}

#r2{
	position: absolute;
	top: 305px;
	left: 20px;
}

footer{
  height: 50px;
  background-color: black;
  line-height: 50px;
  text-align: center;
  color: grey;
  position: fixed;
  bottom:0px;
  width:100%;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.sound-control {
	font-size: 24px;
}
